#popup1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: rgba(251, 151, 151, 0.5);
}

#popup-content1 {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translateY(-50%);
  /*transform: translate(-50%,-50%);*/
  background-color: white;
  text-align: center;
  width: 60%;
  height: 90%;
  background-image: url("/covid/covid-001.jpg");
}


#popup2 {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;  
  background-color: rgba(34, 18, 18, 0.5);
}

#popup-content2 {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: rgb(238, 238, 92);
  text-align: center;
  width: 60%;
  height: 90%;
  background-image: url("/covid/covid-002.jpg");
  background-size: cover;
  /*padding-top: 20px;
  padding-bottom: 20px;
  padding: 20px; 책 사이 실선 필요하면 추가하기 */
}

#popup-content2_exit {
  position: absolute;
  top: calc(50%-30px);
  left: 0;
  transform: translateY(-50%);
  background-color: gray;
  padding: 20px;
  text-align: center;
  width: 85%;
  height: 80%;
}

@media (max-width: 680px) {
  #popup2 {
    display: none;
  }
  #popup-content2 {
    display: none;
  }
  #popup1{
    background-color: blue;
  }
}




#popup1.fade-in {
  animation: fadeIn 1.5s;
}

#popup2.fade-in {
  animation: fadeIn 1.5s;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@media (max-width: 980px) {  
  #popup1 {
    position: absolute;
    background-color: blue;
    width: 100%;
    height: 100%;
    left: 0;
  }

  #popup-content1 {
    left: 50%;
    top : 2%;
    height: 92%;
    transform: translateX(-50%);
  }

  #image1 {
    float: none;
    display: block;
    margin: 0 auto;
  }

  #popup2 {
    background-color: transparent;
  }

  #popup-content2 {
    display: none;
  }

  #arrow1 {
    display: none;
  }
}

#image1 {
  display: block;
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

@media only screen and (max-width: 980px) {
  #image1 {
    display: block;
    margin: 0 auto;
    width: 80%;
    text-align: center;
  }
}
